@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Darker+Grotesque:wght@800&family=Inter:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #01332a;
}

.darkerGrotesque {
    font-family: 'Darker Grotesque', sans-serif;
}

.dmSans {
    font-family: 'DM Sans', sans-serif;
}

.forBorderPadding {
    padding: 2px;
}

.forBorderPaddingSmall {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}


@media screen and (min-width: 760px) {
    .forHeadingSmallScreen{
        display: none;
    }

  }
@media screen and (max-width: 760px) {
    .forHeadingBigScreen{
        display: none;
    }
  }


.forScroll::-webkit-scrollbar {
    height: 0px;
    /* Adjust the width as needed */
}

/* Customize the scrollbar thumb (the draggable part) */
.forScroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* Customize the scrollbar track when hovering over it */
.forScroll::-webkit-scrollbar-track:hover {
    background-color: #555;
}